body{
    background: gray;
}

table{
    width: 100%;
    border: none;
}

.label{
    text-align: right;
}

.menu{
    display: block;
    width: 100%;
}

.row{
    margin: 5px 0 0 0;
    background: white;
}

.rp1{
    padding-left: 0;
    padding-right: 0;
}

.vl{
    border-right: 1px solid black;
}

.borderhead{
    border: 1px solid black;
    padding: 5px;
}

.invis{
    background: none;
    border: none;
}

.bayar{
    background: white;
}

.tambahItem{
    font-size: 30px;
    font-weight: bold;
}

.hargaTerakhir{
    text-align: right;
    font-style: italic;
    color: gray;
}

.totalItem{
    color: red;
}

.totalHarga{
    font-size: 45px;
    font-weight: bold;
    text-align: right;
}

.pembayaran{
    text-align: center;
}

.margin-tambahan{
    margin: 23px 0 0 0;
}

.keranjang{
    height: 200px;
    overflow: auto;
}
